@model int
@{
    Layout = null;
}

<form method="delete" action="/api/proxytestserverapi/delete">
    @Html.Hidden("id", Model)
    You have deleted this record.
    Do you want to save this change?
</form>

<script src="~/js/proxy.test.server.delete.js"></script>