@model int
@{
    Layout = null;
}

<form method="delete" action="api/proxyproviderapi/delete">
    @Html.Hidden("id",Model)

    You have deleted this record.
    Do you want to save this change?
</form>

<script>
    completeLoading();
</script>