@model IEnumerable<ProxyBanken.DataAccess.Entity.ProxyTest>
@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProxyTestServer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSuccessDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProxyTestServer.Name)
                </td>
                <td>
                    @if (item.LastSuccessDate.HasValue)
                    {
                        @Html.DisplayFor(modelItem => item.LastSuccessDate)
                    }
                    else
                    {
                        <i class="material-icons" style="color:red">wifi_off</i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
